<section class="bonus">
  <div class="container">
    <div class="bonus__img">
      <img src="../img/bonus/bonus_img.png" alt="bonus img">
    </div>
    <h4 class="bonus__title">Вместе с хостингом Вы получите</h4>
    <ul class="bonus__list">
      <li class="bonus__item bonus__item_first">30 дней на тестовый период + 100% возврат денег, если хостинг не подойдёт</li>
      <li class="bonus__item bonus__item_second">Хостинг в подарок при оплате тарифа на 1 год</li>
      <li class="bonus__item bonus__item_third">Бесплатный перенос сайта от другого хостинг-провайдера</li>
    </ul>
  </div>
</section>