<section class="domains">
  <img src="../img/domains_bg.svg" alt="settings icon" class="domains__bg">
  <div class="container">
    <h2 class="domains__title">Доменные имена</h2>
    <div class="domains__descr">
      <p class="domains__descr_first">Правильное название сайта — залог трафика и успешной <br>рекламы. Домен должен ассоциироваться у пользователя с <br> конкретными услугами или отраслью.</p>
      <p class="domains__descr_second">Часто говорят: «Посмотри на auto.ru» и становится понятно, что речь про ресурс, который связан с автомобилями. Точно так же и с другими сайтами, в имени которых заложен смысл их деятельности.</p>
      <p class="domains__descr_third">Помимо основных, выделяют специальные - тематические зоны: .travel, .site, .pro и т.д.</p>
    </div>
    <button class="btn btn_long domains__btn">Подобрать и зарегистрировать домен</button>
    <div class="domains__item ru">
      <div class="domains__item-icon"></div>
      <div class="domains__item-title">.ru</div>
      <div class="domains__item-price"> 600 ₽
        <div class="domains__item-text">в год</div>
      </div>
    </div>
    <div class="domains__item su">
      <div class="domains__item-icon"></div>
      <div class="domains__item-title">.su</div>
      <div class="domains__item-price"> 900 ₽
        <div class="domains__item-text">в год</div>
      </div>
    </div>
    <div class="domains__item net">
      <div class="domains__item-icon"></div>
      <div class="domains__item-title">.net</div>
      <div class="domains__item-price"> 1200 ₽
        <div class="domains__item-text">в год</div>
      </div>
    </div>
    <div class="domains__item biz">
      <div class="domains__item-icon"></div>
      <div class="domains__item-title">.biz</div>
      <div class="domains__item-price"> 1200 ₽
        <div class="domains__item-text">в год</div>
      </div>
    </div>
    <div class="domains__item moscow">
      <div class="domains__item-icon"></div>
      <div class="domains__item-title">.moscow</div>
      <div class="domains__item-price"> 500 ₽
        <div class="domains__item-text">в год</div>
      </div>
    </div>
    <div class="domains__item rf">
      <div class="domains__item-icon"></div>
      <div class="domains__item-title">.рф</div>
      <div class="domains__item-price"> 600 ₽
        <div class="domains__item-text">в год</div>
      </div>
    </div>
    <div class="domains__item com">
      <div class="domains__item-icon"></div>
      <div class="domains__item-title">.com</div>
      <div class="domains__item-price"> 1200 ₽
        <div class="domains__item-text">в год</div>
      </div>
    </div>
    <div class="domains__item org">
      <div class="domains__item-icon"></div>
      <div class="domains__item-title">.org</div>
      <div class="domains__item-price">1200 ₽
        <div class="domains__item-text">в год</div>
      </div>
    </div>
    <div class="domains__item info">
      <div class="domains__item-icon"></div>
      <div class="domains__item-title">.info</div>
      <div class="domains__item-price"> 1200 ₽
        <div class="domains__item-text">в год</div>
      </div>
    </div>
    <div class="domains__item msc">
      <div class="domains__item-icon"></div>
      <div class="domains__item-title">.msc</div>
      <div class="domains__item-price"> 500 ₽
        <div class="domains__item-text">в год</div>
      </div>
    </div>
  </div>
  </div>
</section>