<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="logo header__logo">
        <a href="#" class="logo__link">
          <img src="../img/logo.svg" alt="hosting logo">
        </a>
      </div>

      <div class="header__contacts">
        <div class="header__phone phone">
          <span class="header__icon"><img src="../img/phone.svg" alt="phone icon">
          </span>
          <a href="tel:84951234556" class="header__link">+7 (495) 123-45-56</a>
        </div>
        <div class="header__mail email">
          <span class="header__icon"><img src="../img/mail.svg" alt="mail icon"></span></a>
          <a href="mailto:support@wshost.ru" class="header__link">support@wshost.ru</a> <br>

        </div>
        <div class="header__support"><span class="header__support-text">(поддержка <span class="header__support-nums">24/7</span>)</span>
        </div>
      </div>

      <div class="header__account">
        <button class="btn btn_blue header__btn">Купить хостинг</button>
        <a href="#" class="header__account-btn">
          <img src="../img/header/account.svg" alt="sign in icon"></a>
      </div>
    </div>
  </div>

  <nav class="menu header__menu">
    <div class="container">
      <ul class="menu__list">
        <li class="menu__item menu__item_first ">
          <a href="#" class="menu__link">ХОСТИНГ</a>
        </li>
        <li class="menu__item menu__item_second">
          <a href="#" class="menu__link">VPS</a>
        </li>
        <li class="menu__item menu__item_third">
          <a href="#" class="menu__link"> РЕГИСТРАЦИЯ ДОМЕНОВ</a>
        </li>
        <li class="menu__item menu__item_fourth">
          <a href="#" class="menu__link"> SSL</a>
        </li>
        <li class="menu__item menu__item_fifth">
          <a href="#" class="menu__link"> ХОСТИНГ-ПРОВАЙДЕР
            <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2 0L7 5L12 0L14 1L7 8L0 1L2 0Z" fill="#262626" />
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="menu__burger burger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
  </div>
  </div>
</header>