<section class="promo">
  <div class="container">
    <h1 class="promo__title">Платный хостинг для сайта</h1>
    <div class="promo__description">
      <p class="promo__maintext promo__maintext_first">Совместим с любыми CMS:</p>
      <p class="promo__maintext_bold promo__maintext_bold_first">1С-Битрикс, Wordpress, Opencart, DLE, Joomla и др.</p>
      </p>
      <p class="promo__maintext promo__maintext_second">Всё включено:</p>
      <p class="promo__maintext_bold promo__maintext_bold_second">PHP 5.4 – 8.0, Perl, FTP, MySQL, ISPManager</p>
      </p>
    </div>
    <div class="promo__wrapper">
      <div class="promo__label">
        <div class="promo__label-text">
          <p>Всего от <span class="promo__label_bold">99 ₽ в месяц!</span></p>
          <img src="../img/header/promo_arrow.svg" alt="arrow">
        </div>
      </div>
      <div class="promo__label-bg"></div>
    </div>
    <div class="btn promo__btn">Заказать хостинг</div>
    <div class="promo__img">
      <img src="../img/header/promo.png" alt="promo img">
    </div>
  </div>
</section>