<section class="ssl">
  <div class="container">
    <h2 class="ssl__title">SSL-сертификаты</h2>
    <div class="ssl__descr">
      <p class="ssl__descr_first">Купить SSL и попасть в TOP Google. WSHOST предлагает низкие цены и быстрый выпуск за счет <span class="maintext_bold">уникальных</span> партнерских условий с удостоверяющими центрами.</p>
      <p class="ssl__descr_second">Подберите сертификат исходя из задач и предпочтений, удобные фильтры и описание помогут определиться</p>
    </div>
    <div class="ssl__card comodo">
      <div class="ssl__card-header">
        <div class="ssl__card-number">1</div>
        <div class="ssl__card-title">SSL для сайта Comodo PositiveSSL</div>
      </div>
      <hr class="ssl__card-hr">
      <ul class="ssl__card-list">
        <li class="ssl__card-item ssl__card-item_first">Доступен физическим лицам</li>
        <li class="ssl__card-item ssl__card-item_second">Защита 1го домена</li>
        <li class="ssl__card-item ssl__card-item_third">Поддержка IDN доменов</li>
        <li class="ssl__card-item ssl__card-item_fourth">Низкая степень доверия</li>
        <li class="ssl__card-item ssl__card-item_fifth">Совместимость с браузерами: 96%</li>
        <li class="ssl__card-item ssl__card-item_sixth">Автоустановка на наш хостинг</li>
      </ul>
      <div class="ssl__card-price">
        900 ₽ <span class="minitext">/ год</span>
      </div>
    </div>
    <div class="ssl__card positive">
      <div class="ssl__card-header">
        <div class="ssl__card-number">2</div>
        <div class="ssl__card-title">SSL для магазина Positive SSL MDC (3 domains)</div>
      </div>
      <hr class="ssl__card-hr">
      <ul class="ssl__card-list">
        <li class="ssl__card-item ssl__card-item_first">Доступен физическим лицам</li>
        <li class="ssl__card-item ssl__card-item_second">Защита 3х доменов</li>
        <li class="ssl__card-item ssl__card-item_third">Опция добавления доменов</li>
        <li class="ssl__card-item ssl__card-item_fourth">Поддержка IDN доменов</li>
        <li class="ssl__card-item ssl__card-item_fifth">Достаточная степень доверия</li>
        <li class="ssl__card-item ssl__card-item_sixth">Совместимость с браузерами: 99.8%</li>
        <li class="ssl__card-item ssl__card-item_seventh">Автоустановка на наш хостинг</li>
      </ul>
      <div class="ssl__card-price">
        3800 ₽ <span class="minitext">/ год</span>
      </div>
    </div>
    <div class="ssl__card essential">
      <div class="ssl__card-header">
        <div class="ssl__card-number">3</div>
        <div class="ssl__card-title">С защитой поддоменов Essential SSL Wildcard</div>
      </div>
      <hr class="ssl__card-hr">
      <ul class="ssl__card-list">
        <li class="ssl__card-item ssl__card-item_first">Доступен физическим лицам</li>
        <li class="ssl__card-item ssl__card-item_second">Защита всех поддоменов</li>
        <li class="ssl__card-item ssl__card-item_third">Поддержка IDN доменов</li>
        <li class="ssl__card-item ssl__card-item_fourth">Достаточная степень доверия</li>
        <li class="ssl__card-item ssl__card-item_fifth">Совместимость с браузерами: 99.8%</li>
        <li class="ssl__card-item ssl__card-item_sixth">Автоустановка на наш хостинг</li>
      </ul>
      <div class="ssl__card-price">
        6700 ₽ <span class="minitext">/ год</span>
      </div>
    </div>
    <div class="ssl__card business">
      <div class="ssl__card-header">
        <div class="ssl__card-number">4</div>
        <div class="ssl__card-title">С зеленой строкой True BusinessID with EV</div>
      </div>
      <hr class="ssl__card-hr">
      <ul class="ssl__card-list">
        <li class="ssl__card-item ssl__card-item_first">Только для юридических лиц</li>
        <li class="ssl__card-item ssl__card-item_second">Защита одного домена</li>
        <li class="ssl__card-item ssl__card-item_third">Зеленая адресная строка</li>
        <li class="ssl__card-item ssl__card-item_fourth">Наивысшая степень доверия</li>
        <li class="ssl__card-item ssl__card-item_fifth">Без поддержки IDN</li>
        <li class="ssl__card-item ssl__card-item_sixth">Совместимость с браузерами: 99.9% </li>
        <li class="ssl__card-item ssl__card-item_seventh">Автоустановка на наш хостинг</li>
      </ul>
      <div class="ssl__card-price">
        12600 ₽ <span class="minitext">/ год</span>
      </div>
    </div>
    <button class="ssl__btn btn btn_medium">Заказать SSL сертификат</button>
  </div>
  </div>
</section>