<section class="tariffs">
  <div class="container">
    <h2 class="tariffs__title">Тарифы на хостинг</h2>
    <div class="tariffs__text">
      <p>У нас оптимальные тарифы на классический виртуальный хостинг с безлимитными ресурсами на количество сайтов, баз данных и FTP.</p>
      <p>Выбирайте наш лучший <span class="tariffs__text_bold"> безлимитный</span> хостинг в России!</p>
    </div>
    <div class="card tariffs__card mini">
      <div class="card__header">
        <img src="../img/tariffs/tariffs_mini.svg" alt="icon">
        <h3 class="card__title">мини</h3>
      </div>
      <div class="card__body">
        <div class="card__subheader">2Gb места SSD </div>
        <ul class="card__list">
          <li class="card__item card__item_first">PHP - 5.6, 7.0, 7.1, 7.2, 7.3, 7.4</li>
          <li class="card__item card__item_second">Поддержка любой CMS</li>
          <li class="card__item card__item_third">Бесплатные SSL сертификаты Let's Encrypt</li>
          <li class="card__item card__item_fourth">Защита от DDoS</li>
        </ul>
        <div class="card__footer">
          <div class="card__price">
            <div class="new-price-bg"></div>
            <div class="new-price">
              <p class="new-price__title">99 ₽</p>
              <p class="new-price__minitext minitext">в месяц</p>
            </div>
            <div class="old-price">
              <p class="old-price__title">117 ₽</p>
              <p class="old-price__minitext minitext">в месяц</p>
            </div>
          </div>
          <button class="btn card__btn">Купить хостинг</button>
        </div>
      </div>
    </div>
    <div class="card tariffs__card start">
      <div class="card__header">
        <img src="../img/tariffs/tariffs_start.svg" alt="icon">
        <h3 class="card__title">старт</h3>
      </div>
      <div class="card__body">
        <div class="card__subheader">7Gb места SSD</div>
        <ul class="card__list">
          <li class="card__item card__item_first">PHP - 5.6, 7.0, 7.1, 7.2, 7.3, 7.4</li>
          <li class="card__item card__item_second">Поддержка любой CMS</li>
          <li class="card__item card__item_third">Бесплатные SSL сертификаты Let's Encrypt</li>
          <li class="card__item card__item_fourth">Защита от DDoS</li>
          <li class="card__item card__item_fifth">Повышенная производительность</li>
          <li class="card__item card__item_sixth">Домен в подарок</li>
        </ul>
        <div class="card__footer">
          <div class="card__price">
            <div class="new-price-bg"></div>
            <div class="new-price">
              <p class="new-price__title">149 ₽ </p>
              <p class="new-price__minitext minitext">в месяц</p>
            </div>
            <div class="old-price">
              <p class="old-price__title">117 ₽</p>
              <p class="old-price__minitext minitext">в месяц</p>
            </div>
          </div>
          <button class="btn card__btn">Купить хостинг</button>
        </div>
      </div>
    </div>
    <div class="card tariffs__card standart">
      <div class="card__header">
        <img src="../img/tariffs/tariffs_standart.svg" alt="icon">
        <h3 class="card__title">стандарт</h3>
      </div>
      <div class="card__body">
        <div class="card__subheader">30Gb места SSD</div>
        <ul class="card__list">
          <li class="card__item card__item_first">PHP - 5.6, 7.0, 7.1, 7.2, 7.3, 7.4</li>
          <li class="card__item card__item_second">Поддержка любой CMS</li>
          <li class="card__item card__item_third">Бесплатные SSL сертификаты Let's Encrypt</li>
          <li class="card__item card__item_fourth">Защита от DDoS</li>
          <li class="card__item card__item_fifth">Повышенная производительность</li>
          <li class="card__item card__item_sixth">Домен в подарок</li>
        </ul>
        <div class="card__footer">
          <div class="card__price">
            <div class="new-price-bg"></div>
            <div class="new-price">
              <p class="new-price__title">290 ₽</p>
              <p class="new-price__minitext minitext">в месяц</p>
            </div>
            <div class="old-price">
              <p class="old-price__title">117 ₽</p>
              <p class="old-price__minitext minitext">в месяц</p>
            </div>
          </div>
          <button class="btn card__btn">Купить хостинг</button>
        </div>
      </div>
    </div>
    <div class="card tariffs__card business">
      <div class="card__header">
        <img src="../img/tariffs/tariffs_business.svg" alt="icon">
        <h3 class="card__title">бизнес</h3>
      </div>
      <div class="card__body">
        <div class="card__subheader">50Gb места SSD</div>
        <ul class="card__list">
          <li class="card__item card__item_first">PHP - 5.6, 7.0, 7.1, 7.2, 7.3, 7.4</li>
          <li class="card__item card__item_second">Поддержка любой CMS</li>
          <li class="card__item card__item_third">Бесплатные SSL сертификаты Let's Encrypt</li>
          <li class="card__item card__item_fourth">Защита от DDoS</li>
          <li class="card__item card__item_fifth">
            Повышенная производительность</li>
          <li class="card__item card__item_sixth">Домен в подарок</li>
        </ul>
        <div class="card__footer">
          <div class="card__price">
            <div class="new-price-bg"></div>
            <div class="new-price">
              <p class="new-price__title">470 ₽</p>
              <p class="new-price__minitext minitext">в месяц</p>
            </div>
            <div class="old-price">
              <p class="old-price__title">117 ₽</p>
              <p class="old-price__minitext minitext">в месяц</p>
            </div>
          </div>
          <button class="btn card__btn">Купить хостинг</button>
        </div>
      </div>
    </div>
    <div class="card__descr">
      Неограниченно сайтов, баз данных MySQL, FTP аккаунтов и почтовых ящиков</div>
    <div class="tariffs__link-more">
      <a href="#">Посмотреть все характеристики нашего хостинга</a>
    </div>
  </div>
</section>