//Colors
$color-orange: #FA6232;
$color-blue: #67A8D2;
$color-white: #FFFFFF;
$color-text: #262626;
$color-gray: #3C3B3B;
$color-text2:#858585;

//Typography

//h1
$font-size-h1: 72px;
$line-height-h1: 108px;
$letter-spacing-h1: 0.06em;

//h2
$font-size-h2: 48px;
$line-height-h2: 72px;
$letter-spacing-h2: 0.04em;

//h3
$font-size-h3: 24px;
$line-height-h3: 36px;
$letter-spacing-h3: 0.05em;

//Text
$font-size-main-text: 20px;
$line-height-main-text: 30px;
$font-size-mini-text: 16px;
$line-height-mini-text: 24px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;

//Links
$font-size-link: 16px;
$line-height-link: 24px;
$font-style-link: italic;

//Btns
$font-size-btn: 22px;
$line-height-btn: 33px;
$font-size-btn2: 20px;
$line-height-btn2: 30px;
$letter-spacing-btns: 0.035em;

